# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
local_settings.py
db.sqlite3
media/

# Virtual env
venv/
.env
*.env
folio/

# VSCode or IDE stuff
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db
