{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'assets/css/project.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
  <title>Project-1</title>
</head>
<body>
    <div class="overlay">
        <div class="modal-container">
            <h1 class="title">{{ project.title }}</h1>
            <img src="{% static 'assets/images/logo.png' %}" alt="" class="logo">
            <div class="content">
                {% for content in project.content_blocks.all %}
                    <div class="content-block">
                        {% if content.heading %}
                            <h2 id="content-header">{{ content.heading }}</h2>
                        {% endif %}
                        {% if content.text %}
                            <p id="content-text">{{ content.text }}</p>
                        {% endif %}
                        {% if content.image %}
                            <img id="content-image" src="{{ content.image.url }}" alt="{{ content.heading }}" width="200px" height="200px">
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <button class="button">
        show modal
    </button>
    <script src="{% static 'assets/javascript/project.js' %}"></script>
</body>
</html>