.main-container {
    background-color: #333;
    color: white;
    font-family: 'Poppins';
    padding-bottom: 100px;
}

.project-logo {
    display: block;
    margin: 40px auto 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.title {
    text-align: center;
    font-weight: lighter;
    margin: 20px auto 0 auto;
}

.date-created {
    text-align: center;
    margin: 0;
    font-weight: lighter;
}

.content {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.content-block {
    padding: 0;
}

.content-header {
    font-weight: 300;
}

.content-text {
    line-height: 1.6;
    font-size: 18px;
    font-weight: 200;
    text-align: left;
}

.content-image {
    display: block;
    margin: 40px auto 0 auto;
    border-radius: 10px;
    width: 250px;
}

@media (max-width: 768px) {
    .content-text {
        text-indent: 0;
    }
    .content {
        width: 90%;
    }
}